@using EasyTrip.Models.Siniflar
@model List<Blog>

<div class="con-bot">
    @foreach (var x in Model.OrderByDescending(x => x.ID).Take(2))
    {
        <div class="right">
            <div class="bot-left">
                <img src="@x.BlogImage" alt="" />
            </div>
            <div class="left-text">
                <h4>@x.Baslik</h4>
                <span class="doller">@x.Tarih.ToString("dd:MM:yyyy")</span>
                <p>@x.Aciklma</p>
                <p><a href="/Blog/BlogDetay/@x.ID"><span class="read">Devamını Oku</span></a></p>
            </div>
        </div>
    }
</div>
 @await Html.PartialAsync("Partial2")  